[Unit]
Description=BuildBot master service
After=network.target

[Service]
User=andreas_neumeier_org
Group=andreas_neumeier_org
WorkingDirectory=/home/andreas_neumeier_org/buildbot
Environment="PATH=/home/andreas_neumeier_org/.linuxbrew/bin:/home/andreas_neumeier_org/.linuxbrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/snap/bin:/home/andreas_neumeier_org/env/bin"
ExecStart=/home/andreas_neumeier_org/buildbot/buildbot.sh
# ExecStart=/home/andreas_neumeier_org/env/bin/buildbot start --nodaemon
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
